.authorization-page {
  height: 100vh;
  background: url("../../pictures/fox.jpg");
  -webkit-background-size: auto auto;
          background-size: auto;
  -webkit-background-size: cover;
          background-size: cover;
  margin: 0;
}

.authorization-page #zatemnenie {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 104vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.authorization-page #okno {
  width: 300px;
  height: 397px;
  text-align: center;
  padding: 15px;
  border: 2px solid #08088F;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #08088F;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
  z-index: 333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: url("../../pictures/back.jpg") no-repeat;
  -webkit-background-size: auto auto;
          background-size: auto;
  -webkit-background-size: cover;
          background-size: cover;
}

.authorization-page #okno h4 {
  color: #08088F;
  font-size: 25px;
  margin-top: 12px;
  margin-bottom: 30px;
}

.authorization-page #okno input {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px #0000CD solid;
  height: 25px;
  margin-bottom: 15px;
}

.authorization-page #okno span {
  color: #0000CD;
  text-align: left;
  font-weight: 600;
  font-size: 21px;
}

.authorization-page #okno button {
  height: 31px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px #08088F solid;
  background-color: #08088F;
  margin-top: 15px;
  padding-bottom: 34px;
}

.authorization-page #okno button a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
}

.authorization-page #okno hr {
  width: 100%;
  border-color: #fff;
  margin: 13px 0px 26px 0;
}

.authorization-page #okno .registration-btn {
  font-size: 18px;
  color: #08088F;
}

.authorization-page #okno .registration-btn:hover {
  cursor: pointer;
  color: #fff;
}

.authorization-page #zatemnenie:target {
  display: block;
}

.authorization-page .close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #08088F;
  color: #08088F;
  margin: 20px auto;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 14pt;
  cursor: pointer;
  width: 71px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.authorization-page .close:hover {
  background: #e6e6ff;
}

.authorization-page .page-title {
  background-image: -webkit-linear-gradient(110deg, #000 0%, #001bf9 100%);
  background-image: -o-linear-gradient(110deg, #000 0%, #001bf9 100%);
  background-image: linear-gradient(-20deg, #000 0%, #001bf9 100%);
  margin-bottom: 0;
  padding: 20px 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
  font-size: 69px;
  margin-top: 0;
}

.authorization-page .log-in__wrapper {
  -webkit-transform: translateY(-90%);
      -ms-transform: translateY(-90%);
          transform: translateY(-90%);
}

.authorization-page .log-in-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-linear-gradient(110deg, #000 0%, #001aed 100%);
  background-image: -o-linear-gradient(110deg, #000 0%, #001aed 100%);
  background-image: linear-gradient(-20deg, #000 0%, #001aed 100%);
  color: #fff;
  height: 70px;
  width: 140px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border-color: #0000CD;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 54px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.authorization-page .log-in-button:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #fff;
  background-image: -webkit-linear-gradient(110deg, #43a6e2 0%, #230c75 100%);
  background-image: -o-linear-gradient(110deg, #43a6e2 0%, #230c75 100%);
  background-image: linear-gradient(-20deg, #43a6e2 0%, #230c75 100%);
}

.authorization-page .subtitle {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 23px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 1px 1px 2px #fdfdfd, 0 0 1em #a0a0dc, 0 0 0.2em #b3b3ff;
}

.authorization-page #authorization-page__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 104vh;
}

.authorization-page .footer-title h2 {
  width: 40%;
  left: -webkit-calc(60% - 25px);
  left: calc(60% - 25px);
  position: fixed;
  margin: 0;
  text-align: justify;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  top: 93vh;
  text-shadow: 1px 1px 2px #fdfdfd, 0 0 1em #a0a0dc, 0 0 0.2em #b3b3ff;
}

.authorization-page .input-login {
  place-content: "123";
}

.authorization-page .sign-in-btn {
  color: #fff;
  width: 300px;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  padding: 0px 2px;
}

.authorization-page .sign-in-btn:hover {
  cursor: pointer;
  color: #08088F;
  background-color: #fff !important;
}

.authorization-page .input__wrapper label {
  text-align: left;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.authorization-page .input__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authorization-page header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

.authorization-page header .logo__wrapper {
  height: 100%;
}

.authorization-page header .logo__wrapper img {
  height: 100%;
}

.authorization-page header .site-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  font-weight: 600;
}

.registration-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin: 0;
  background: url("../../pictures/cloud_background.jpg") no-repeat center center fixed;
  -webkit-background-size: auto auto;
          background-size: auto;
  -webkit-background-size: cover;
          background-size: cover;
}

.registration-page form {
  width: 305px;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20vh auto;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  height: 460px;
  background: url("../../pictures/suda.jpg") no-repeat center center;
  -webkit-background-size: auto auto;
          background-size: auto;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.registration-page form h4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registration-page .group__wrapper select,
.registration-page form input {
  height: 24px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px black solid;
}

.registration-page .group__wrapper select {
  height: 28px;
}

.registration-page form label {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registration-page form button {
  background-color: #b0e8ff;
  border-color: #048fc8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 38px;
  width: 121px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  font-size: 19px;
  padding: 4px;
  color: darkblue;
}

.registration-page form button:hover {
  cursor: pointer;
  color: #0000CD;
  background-color: #fff !important;
}

.registration-page .group__wrapper,
.registration-page .patronomic__wrapper,
.registration-page .name__wrapper,
.registration-page .surname__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.registration-page .group__wrapper,
.registration-page .name__wrapper {
  margin-left: auto;
}

.registration-page .second-row,
.registration-page .name-surname__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.registration-page .login__wrapper,
.registration-page .password__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.registration-page .cancel-reg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #08088F;
  color: #08088F;
  margin: 0 auto 20px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 14pt;
  cursor: pointer;
  width: 71px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0;
}

.registration-page .cancel-reg a {
  text-decoration: none;
  padding: 0px 10px;
  line-height: 28px;
}

.base-main-page {
  margin: 0;
  height: 99vh;
  overflow: hidden;
}

.base-main-page header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.base-main-page header .logo__wrapper {
  height: 100%;
}

.base-main-page header .logo__wrapper img {
  height: 100%;
}

.base-main-page header .site-title {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  margin-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #050544;
  font-weight: 600;
  margin-top: 6px;
}

.base-main-page .page-title {
  background-image: -webkit-linear-gradient(110deg, #001bf9 0%, #000 100%);
  background-image: -o-linear-gradient(110deg, #001bf9 0%, #000 100%);
  background-image: linear-gradient(-20deg, #001bf9 0%, #000 100%);
  margin-bottom: 0;
  padding: 20px 0;
  color: #fff;
  padding-left: 15px;
  font-size: 60px;
  margin-top: 0;
  position: fixed;
  top: 60px;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.base-main-page .topics-page__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 232px;
}

@media screen and (min-width: 1767px) {
  .base-main-page .topics-page__wrapper {
    top: 166px;
  }
}

@media screen and (max-width: 1199px) {
  .base-main-page .topics-page__wrapper {
    top: 298px;
  }
}

.base-main-page .topics-list {
  border-right: 1px #c4c4c4 solid;
  border-bottom: 1px #c4c4c4 solid;
  width: 30%;
  max-width: 300px;
  background: -webkit-linear-gradient(110deg, #001bf9 0%, #000 100%);
  background: -o-linear-gradient(110deg, #001bf9 0%, #000 100%);
  background: linear-gradient(-20deg, #001bf9 0%, #000 100%);
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  border-top: 1px #fff solid;
  -webkit-border-bottom-right-radius: 15px;
          border-bottom-right-radius: 15px;
  height: -webkit-calc(100vh - 260px);
  height: calc(100vh - 260px);
  padding-top: 20px;
}

@media screen and (min-width: 1767px) {
  .base-main-page .topics-list {
    height: -webkit-calc(100vh - 170px);
    height: calc(100vh - 170px);
  }
}

@media screen and (max-width: 1199px) {
  .base-main-page .topics-list {
    height: -webkit-calc(100vh - 305px);
    height: calc(100vh - 305px);
  }
}

.base-main-page .topics-list ol {
  padding: 10px 15px 10px 30px;
  height: 97%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #001bf9 #fff;
  margin-right: 13px;
}

.base-main-page .topics-list ol a {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.base-main-page .topic-content {
  width: -webkit-calc(100vw - 300px);
  width: calc(100vw - 300px);
  position: relative;
  overflow-y: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.base-main-page li .chapter-name,
.base-main-page li .chapter-test {
  display: inline;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.base-main-page .list::marker {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.base-main-page .list {
  margin-bottom: 10px;
}

.base-main-page .list::before {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.base-main-page .topic-name-li::before {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.base-main-page .skip::marker {
  display: none;
}

.base-main-page ol {
  counter-reset: yourCounter;
}

.base-main-page ol li:not(.skip) {
  counter-increment: yourCounter;
  list-style: none;
}

.base-main-page ol li:not(.skip):before {
  content: counter(yourCounter) ".";
}

.base-main-page ol li.skip {
  margin-left: 20px;
}

.base-main-page .skip::marker {
  color: transparent;
}

.base-main-page .chapter-name,
.base-main-page .chapter-name:hover,
.base-main-page .chapter-name:active,
.base-main-page .chapter-name:focus {
  text-decoration: none;
}

.base-main-page .topic-name {
  font-size: 16px;
  line-height: 16px;
}

.base-main-page .topic-name-li {
  margin-bottom: 10px;
}

.base-main-page .chapter-name::after,
.base-main-page .chapter-name.collapsed::after {
  display: inline-block;
  content: '';
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.35s -webkit-transform ease;
  transition: 0.35s -webkit-transform ease;
  -o-transition: 0.35s transform ease;
  transition: 0.35s transform ease;
  transition: 0.35s transform ease, 0.35s -webkit-transform ease;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 0;
  border-bottom: 6px solid #fff;
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 8px;
}

.base-main-page .chapter-name.collapsed::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.base-main-page .sublist {
  overflow-y: hidden !important;
}

.base-main-page .account-info {
  margin-left: auto;
  margin-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.base-main-page .account-info button {
  background-image: -webkit-linear-gradient(110deg, #000 0%, #001bf9 100%);
  background-image: -o-linear-gradient(110deg, #000 0%, #001bf9 100%);
  background-image: linear-gradient(-20deg, #000 0%, #001bf9 100%);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 4px;
  font-weight: 600;
  padding: 3px;
  padding-top: 2px;
}

.base-main-page .account-info button:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #fff;
  background-image: -webkit-linear-gradient(110deg, #43a6e2 0%, #230c75 100%);
  background-image: -o-linear-gradient(110deg, #43a6e2 0%, #230c75 100%);
  background-image: linear-gradient(-20deg, #43a6e2 0%, #230c75 100%);
}

.base-main-page .account-info .user-name {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #050544;
}

.base-main-page .title-block,
.base-main-page .test-title {
  font-size: 36px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #050544;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.base-main-page .topic-title-block {
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 58px;
  font-weight: 600;
  color: #050544;
  margin-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.base-main-page .content-text {
  text-align: justify;
  font-size: 16px;
}

.base-main-page .just-because {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.base-main-page .confirm-log-out__wrapper {
  display: none;
  position: fixed;
  top: -webkit-calc(50vh - 115px);
  top: calc(50vh - 115px);
  left: -webkit-calc(50vw - 175px);
  left: calc(50vw - 175px);
  width: 350px;
  height: 150px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border-color: #140077;
  border: 2px solid;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-linear-gradient(110deg, #001cff 0%, #fff 100%);
  background-image: -o-linear-gradient(110deg, #001cff 0%, #fff 100%);
  background-image: linear-gradient(-20deg, #001cff 0%, #fff 100%);
}

.base-main-page .confirm-log-out__wrapper .qqq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 35px;
}

.base-main-page .confirm-log-out__wrapper .cancel-log-out {
  width: 45%;
  margin-left: 5px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: #000;
  border-color: #170088e3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  height: 100%;
  padding: 0px 25px 2px;
  font-weight: 600;
}

.base-main-page .confirm-log-out__wrapper .confirm-log-out-btn {
  height: 30px;
  background-color: #170088e3;
  color: #fff;
  text-decoration: none;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-left: 15px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 8px 46px;
  line-height: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  height: 100%;
  font-weight: 600;
  border: 2px solid;
  border-color: #170088e3;
}

.base-main-page .confirm-log-out__wrapper .confirm-log-out-btn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #050544;
  background-color: #fff;
}

.base-main-page .confirm-log-out__wrapper .confirm-msg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
  color: #140077;
  line-height: 28px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.base-main-page .test-quest,
.base-main-page .theor-one {
  color: #050544;
  font-family: Roboto,sans-serif;
  font-size: 18px;
  margin-left: 58px;
  margin-top: -10px;
  text-align: justify;
}

.base-main-page .test-quest span,
.base-main-page .theor-one span {
  display: inline-block;
}

.base-main-page .test-quest:first-of-type {
  margin-top: 20px;
}

.base-main-page .two {
  margin-top: 5px;
  text-indent: 58px;
  margin-left: 0;
}

.base-main-page .two span {
  display: inline-block;
}

.base-main-page .three {
  margin-top: 5px;
}

.base-main-page .a1 {
  margin-top: 5px;
  text-indent: 58px;
  margin-left: 0;
  margin-bottom: 0;
}

.base-main-page .a2 {
  margin-top: 0px;
  text-indent: 58px;
  margin-left: 0;
}

.base-main-page #zatemnenie {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 104vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.base-main-page .topic-content,
.base-main-page .topics-list {
  height: -webkit-calc(100vh - 240px);
  height: calc(100vh - 240px);
}

@media screen and (min-width: 1767px) {
  .base-main-page .topic-content,
  .base-main-page .topics-list {
    height: -webkit-calc(100vh - 170px);
    height: calc(100vh - 170px);
  }
}

@media screen and (max-width: 1199px) {
  .base-main-page .topic-content,
  .base-main-page .topics-list {
    height: -webkit-calc(100vh - 305px);
    height: calc(100vh - 305px);
  }
}

.base-main-page .picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.base-main-page .picture-text {
  text-align: center;
  color: #050544;
  font-family: Roboto,sans-serif;
  font-size: 18px;
}

.test-page {
  width: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px auto;
}

.test-page .test-title {
  font-size: 53px;
}

.test-page .test-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
}

.test-page .test-btns button {
  background-image: -webkit-linear-gradient(110deg, #000 0%, #001bf9 100%);
  background-image: -o-linear-gradient(110deg, #000 0%, #001bf9 100%);
  background-image: linear-gradient(-20deg, #000 0%, #001bf9 100%);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 4px;
  font-weight: 600;
  padding: 3px;
  padding-top: 2px;
  height: 100%;
  width: 135px;
  font-size: 18px;
  margin: 10px auto;
}

.test-page .test-btns button:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #fff;
  background-image: -webkit-linear-gradient(110deg, #43a6e2 0%, #230c75 100%);
  background-image: -o-linear-gradient(110deg, #43a6e2 0%, #230c75 100%);
  background-image: linear-gradient(-20deg, #43a6e2 0%, #230c75 100%);
}

.test-page .test-btns .start-test-btn {
  margin-left: 50px;
}

.test-page .test-btns .rating-btn {
  margin-right: 50px;
}

.test-page .test-title {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
  -webkit-border-radius: 9em;
          border-radius: 9em;
}

::-webkit-scrollbar-thumb {
  background-color: #001bf9;
  -webkit-border-radius: 9em;
          border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

td, th {
  padding: 6px;
  border: 1px solid;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.test-block {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #050544;
  line-height: 32px;
  margin: 20px 0;
}

.tanswer {
  font-size: 16px;
  margin: 5px;
}
