<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="../../static/wwwroot/css/style.css">
</head>

<body class="authorization-page">
    <header>
        <div class="logo__wrapper">
            <img src="../../static/pictures/logo.jpg">
        </div>
        <div class="site-title">
            <label>Белорусский государственный университет информатики и радиоэлектроники</label>
        </div>
    </header>
    <div id="authorization-page__wrapper">
    <h2 class="page-title">ТЕХНОЛОГИИ ИНФОРМАЦИОННОЙ БЕЗОПАСНОСТИ</h2>
    <div id="zatemnenie">
        <div id="okno">
            <h4>Авторизация</h4>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% for f in form %}
                <div class="input__wrapper">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                    <div>{{ f.errors }}</div>
                </div>
                {% endfor %}
                <button class="sign-in-btn" type="submit">Войти</button>
            </form> 
            <a href="#" class="close">Назад</a>
            <hr>
            <a class="registration-btn" href="{% url 'registration' %}">Регистрация</a>
        </div>
    </div>

    <div class="log-in__wrapper">
        <h2 class="subtitle">Для получения доступа к теоретическому и практическому материалу, необходимо авторизоваться</h2>
        <button id="log-in-btn" class="log-in-button">ВХОД</button>
    </div>

    <div class="footer-title">
        <h2>Курс предназначен для студентов Белорусского государственного университета информатики и радиоэлектроники</h2>
    </div>
</div>
</body>

<script type="text/javascript" src="../../static/wwwroot/js/auth.js"></script>
</html>