<!DOCTYPE html>
<html lang="en">
    
    
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="../../static/wwwroot/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap" rel="stylesheet"> 
</head>
<body class="registration-page">
<form action="{% url 'registration' %}" method="post">
    <h4>Регистрация</h4>
    {% csrf_token %}
    <div class="name-surname__wrapper">
        <div class="surname__wrapper">
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            {{ form.last_name }}
            <div>{{ form.last_name.errors }}</div>
        </div>
        <div class="name__wrapper">
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        {{ form.first_name }}
        </div>
        <div>{{ form.first_name.errors }}</div>
    </div>
    <div class="second-row">
        <div class="patronomic__wrapper">
            <label for="{{ form.patronymic.id_for_label }}">{{ form.patronymic.label }}</label>
            {{ form.patronymic }}
            <div>{{ form.patronymic.errors }}</div>
        </div>
        <div class="group__wrapper">
            <label for="{{ form.num_group.id_for_label }}">{{ form.num_group.label }}</label>
            {{ form.num_group }}
            <div>{{ form.num_group.errors }}</div>
        </div>
    </div>
    <div class="login__wrapper">
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label> 
        {{ form.username }}
        <div>{{ form.username.errors }}</div>
    </div>
    <div class="password__wrapper">
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {{ form.password }}
        <div>{{ form.password.errors }}</div>
    </div>
    <button type="submit">Регистрация</button>
    <button class="cancel-reg"><a href="{% url 'login' %}">Назад</a></button>

</form>
</body>
<script type="text/javascript" src="../../static/wwwroot/js/reg.js"></script>
</html>