{% extends 'TIS/base_main.html' %}

{% block content %}
    {% autoescape off %}
        <p>{{ question.question }}</p>
        <form method="post" action="{% url 'test' question.id %}">
            {% csrf_token %}
            <div>
                {% for answer in answers %}
                    <input type="radio" name="ans_stud" id="answer-{{ forloop.counter }}" value="{{ answer.answer }}"></input>
                    <label for="answer-{{ forloop.counter }}">{{ answer.answer }}</label>
                    <br>
                {% endfor %}
            </div>
            {% if user_answered == False %}
                <button type="submit">Ответить</button>
            {% endif %}
            <br><br>
        </form>
        {% if question.id != 1 %}
            <a href="{% url 'test' prev_question_id %}"><button>Вопрос {{ prev_question_id }}</button></a>
        {% endif %}
        {% if next_question_id <= questions_num %}
            <a href="{% url 'test' next_question_id %}"><button>Вопрос {{ next_question_id }}</button></a>
        {% else %}
            <a href="{% url 'test_entry' %}"><button>Завершить тест</button></a>
        {% endif %}
    {% endautoescape %}
{% endblock %}