{% extends 'TIS/base_main.html' %}

{% block content %}
    {% autoescape off %}
        <h3 class="number-quest">Вопрос {{ question.id }}</h3>
        <p class="test-block">{{ question.question }}</p>
        <form method="post" action="{% url 'test' question.id %}">
            {% csrf_token %}
            <div>
                {% for answer in answers %}
                <div class="answer__wrapper">
                    <input type="radio" name="ans_stud" id="answer-{{ forloop.counter }}" value="{{ answer.answer }}">
                    <label class="tanswer" for="answer-{{ forloop.counter }}">{{ answer.answer }}</label>
                    <br>
                </div>
                {% endfor %}
            </div>
            {% if stud_answered == False %}
                <button class="answer-btn active-btn" type="submit">Ответить</button>
            {% else %}
                <button class="answer-btn" type="submit" disabled>Ответить</button>
            {% endif %}
            <br><br>
        </form>
        {% if question.id != 1 %}
            <a href="{% url 'test' prev_question_id %}"><button class="next-prev-btn">&larr;Вопрос {{ prev_question_id }}</button></a>
        {% endif %}
        {% if next_question_id <= questions_num %}
            <a href="{% url 'test' next_question_id %}"><button class="next-prev-btn next-btn">Вопрос {{ next_question_id }}&rarr;</button></a>
        {% else %}
            <a href="{% url 'test_current_res' %}"><button class="end-test-btn">Завершить тест</button></a>
        {% endif %}
        <br><br>
        <div class="numbery">
            {% for id, class in passed_questions_map.items %}
                <a class="number {{ class }}" href="{% url 'test' id %}">{{ id }}</a>
            {% endfor %}
        </div>
    {% endautoescape %}
{% endblock %}