{% extends 'TIS/base_main.html' %}

{% block content %}
    <div class="title-block">
        <label class="chapter-number">Раздел&nbsp;1&nbsp;</label>
        <label class="chapter-title">«{{ chapter_name }}»</label>
    </div>

    <div class="topic-title-block">
        <label class="chapter-number">Тема&nbsp;1&nbsp;</label>
        <label class="chapter-title">«{{ topic_name }}»</label>
    </div>

    {% autoescape off %}
        <p class="content-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ theor_mat|linebreaks }}</p>
    {% endautoescape %}
    
{% endblock %}